.dish-item-box {
    min-width: 170px;
    padding: 10px;
}

.dish-item-box img {
    width: 90px;
}

.input-group {
    
    background-color: grey;
}

.backg{
    background-color: rgb(39, 51, 46)
    
}

